.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.main-word-input {
  border-color: rgb(245, 234, 87);
  border-image: none;
  border-style: solid;
  display: block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3rem;
  height: 4rem;
  max-width: calc(100% - 10px);
  width: calc(100% - 20px);

  &:focus-within,
  &:focus,
  &:active,
  &:focus-visible {
    border-color: rgb(255, 204, 138);
    outline: none;
  }
}

.submit-button {
  background-color: transparent;
  border: 2px solid rgb(245, 234, 87);
  display: block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 4px 6px 0 auto;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: rgba(189, 188, 188, .2);
    border-color: rgb(255, 204, 138);
    cursor: pointer;
  }
}